<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
		<aop:aspectj-autoproxy proxy-target-class="true"/>
		 <!-- mybatis:scan会将com.app.mapper包里的所有接口当作mapper配置，之后可以自动引入mapper类 -->
		<context:component-scan base-package="dao,biz.impl,interceptor"/>
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		    <property name="url" value="jdbc:mysql://127.0.0.1:3306/spring"/>
		    <property name="username" value="root"/>
		    <property name="password" value="root"/> 
		</bean>
		
		<!-- 配置SqlSessionFactory，org.mybatis.spring.SqlSessionFactoryBean是Mybatis社区开发用于整合Spring的bean -->
    	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    		<property name="dataSource" ref="dataSource"></property>    
    		<property name="typeAliasesPackage" value="entity"></property>   
    	</bean>
    	<!-- 3. mybatis自动扫描加载Sql映射文件 : MapperScannerConfigurer sqlSessionFactory 
		/ basePackage -->
		<bean id="config" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="sqlSessionFactory" ref="sqlSessionFactory" />
			<property name="basePackage" value="dao" />
		</bean>
		<!-- 配置SPRING事务 -->
		<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		  	<property name="dataSource" ref="dataSource"/>
		</bean>
		<!-- 指定实现事务的注解 -->
		<tx:annotation-driven transaction-manager="txManager"/>
		
	
</beans>